#SECTION2 {
    height: 1472.87px;
}

#SECTION2 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-position: center center;
    background-repeat: repeat;
}
#IMAGE35 {
    width: 240.979px;
    height: 311.87px;
    top: 1159.53px;
    left: 90px;
}

#IMAGE35 > .ladi-image > .ladi-image-background {
    width: 240.979px;
    height: 399.874px;
    top: 0px;
    left: 0px;
    background-image: url("./img-via/small-bg-20200826091842.png");
}
#GROUP258 {
    width: 394px;
    height: 267.602px;
    top: 29.874px;
    left: 13px;
}
#HEADLINE36 {
    width: 394px;
    top: 0px;
    left: 0px;
}

#HEADLINE36 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: center;
    line-height: 1.6;
}
#HEADLINE37 {
    width: 394px;
    top: 49.6018px;
    left: 0px;
}

#HEADLINE37 > .ladi-headline {
    color: rgb(228, 228, 228);
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
}
#HEADLINE43 {
    width: 375px;
    top: 959.53px;
    left: 20px;
}

#HEADLINE43 > .ladi-headline {
    color: rgb(228, 228, 228);
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
}
#GROUP210 {
    width: 260px;
    height: 98px;
    top: 699.53px;
    left: 20px;
}

#GROUP210.ladi-animation > .ladi-group {
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#HEADLINE38 {
    width: 150px;
    top: 20px;
    left: 110px;
}

#HEADLINE38 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.6;
}
#IMAGE209 {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
}

#IMAGE209 > .ladi-image > .ladi-image-background {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
    background-image: url("./a4-20200827025025.png");
}
#GROUP211 {
    width: 185px;
    height: 98px;
    top: 829.53px;
    left: 20px;
}

#GROUP211.ladi-animation > .ladi-group {
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#HEADLINE212 {
    width: 65px;
    top: 20px;
    left: 120px;
}

#HEADLINE212 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.6;
}
#IMAGE213 {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
}

#IMAGE213 > .ladi-image > .ladi-image-background {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
    background-image: url("./a3-20200827025025.png");
}
#GROUP214 {
    width: 378.5px;
    height: 98px;
    top: 302px;
    left: 20.75px;
}

#GROUP214.ladi-animation > .ladi-group {
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#HEADLINE215 {
    width: 268px;
    top: 27px;
    left: 110.5px;
}

#HEADLINE215 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.6;
}
#IMAGE216 {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
}

#IMAGE216 > .ladi-image > .ladi-image-background {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
    background-image: url("./a2-20200827025025.png");
}
#GROUP217 {
    width: 378.5px;
    height: 117px;
    top: 422.717px;
    left: 20.75px;
}

#GROUP217.ladi-animation > .ladi-group {
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#HEADLINE218 {
    width: 268px;
    top: 27px;
    left: 110.5px;
}

#HEADLINE218 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.6;
}
#IMAGE219 {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
}

#IMAGE219 > .ladi-image > .ladi-image-background {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
    background-image: url("./a1-20200827025025.png");
}
#GROUP220 {
    width: 291.5px;
    height: 98px;
    top: 560.435px;
    left: 20.75px;
}

#GROUP220.ladi-animation > .ladi-group {
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#HEADLINE221 {
    width: 181px;
    top: 27px;
    left: 110.5px;
}

#HEADLINE221 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.6;
}
#IMAGE222 {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
}

#IMAGE222 > .ladi-image > .ladi-image-background {
    width: 99.1395px;
    height: 98px;
    top: 0px;
    left: 0px;
    background-image: url("./a5-20200827025025.png");
}